header {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #c3cfe2;

    .container {
        background: linear-gradient(
            white 0%,
            white 65%,
            #686de0 65%, 
            #686de0 100%);    
        width: 500px;
        height: 650px;
        border: 1.5px solid #c3cfe2;
        border-radius: 50px;
        box-shadow: 4px 4px 6px grey;
        margin-top: 50px;
        margin-bottom: 50px;
    
    .title {
        font-size: 24px;
        font-weight: 100;
        line-height: 1.8;
        color: grey;
        margin-top: 50px;
        margin-left: 50px;
        margin-right: 50px;
        }
        
    .subtitle {
        font-size: 22px;
        letter-spacing: 4px;
        color: white;
        margin-top: 15px;
        text-align: center;
        }
        
    p {
        color: #b7baf8;
        font-size: 20px;
        text-align: center;
        letter-spacing: 2px;
        margin-bottom: 15px;
        }
        
    img {
        margin-top: 25px;
        margin-left: 165px;
        }
    }

}
