#mySidenav a {
    position: absolute;
    left: -300px;
    transition: 0.3s;
    padding: 15px;
    width: 325px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    border-radius: 0 5px 5px 0;
  }
  
  #mySidenav a:hover {
    left: 0;
  }

  #about {
    top: 20px;
    background-color: #e17b77;
  }
  
  #blog {
    top: 80px;
    background-color: #3b5998; 
  }
  
  #projects {
    top: 140px;
    background-color: #00aced; 
  }
  
  #contact {
    top: 200px;
    background-color: #333; 
  }

  #contact2 {
    top: 260px;
    background-color: #007bb6; 
  }
  
  .icon {
    position: absolute;
    top: 2px;
    left: 300px;
  }
